services:
  postgres:
    image: postgres:15
    container_name: EventClean
    environment:
      POSTGRES_DB: eventclean
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
    ports:
      - "5431:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    restart: always

volumes:
  pgdata: